.land.land-3.cf
    .content.cf
        h1.title.center-x Добро пожаловать на СТО Фаворит
        p.text ООО «ФАВОРИТ» высококачественно и в кратчайшие сроки выполняет все виды работ по техническому обслуживанию и ремонту легковых и бронированных автомобилей «Mercedes», «Volkswagen», «Audi», «BMW», «Toyota», «Nissan», «Mitsubishi», «Ford», «Volvo», а также автомобилей других зарубежных  и отечественных производителей.

        .content-3.cf
            .pull-left
                .pagers.cf
                    - var pagerActive = 0
                    - var i=0
                    - for(i;i<4;i++)
                        div(class=index == pagerActive ? 'pager pager_active' : 'pager')
                .slides-3
                    - var i=0
                    - for (i; i<4; i++)
                        .slide-3
                            img.slide-3__img(src='/css/img/s3_' + i + '.jpg')
            .pull-right
                .caption Особенности обслуживания в наших автосервисах:
                ul.features
                    each feature,index in ['Контрольный осмотр подвески при последующем ремонте у нас БЕСПЛАТНО;','Экспресс-тест электронных систем, считывание кодов неисправности;','Консультация специалистов БЕСПЛАТНО;','Поставка запчастей. Мы предлагаем запчасти только надежных, хорошо зарекомендовавших себя, производителей;','Охраняемая стоянка для а/м в ожидании ремонта на 15 мест.']
                        li.feature
                            i.feature__ico(class='feature__ico_'+index)
                            span.feature__text= feature
                a.btn(href='') Записаться на сто
        ul.brands
            - var i=0
            - for (i; i<7; i++)
                .brand
                    img.brand__img(src='/css/img/brand3_' + i + '.png')