.land.land-1.cf
    .content
        .pagers.cf
            - var pagerActive = 0
            - var i=0
            - for(i;i<4;i++)
                div(class=index == pagerActive ? 'pager pager_active' : 'pager')
        .slides
            - var i=0
            - for (i; i<4; i++)
                .slide
                    img.slide__img(src='/css/img/p' + i + '.jpg')
                    .content-1
                        h2.title Ремонт подвески
                        p.text Для надёжности работы и обеспечения вашей безопасности рекомендуется своевременно проводить диагностику и ремонт ходовой