.land.land-4.cf
    .content.cf
        h3.title Ремонт китайских авто
        .content-4.cf
            .pull-left
                .text Помимо отечественного автотранспорта мы предложим и услуги по ремонту иномарок китайского производства. Более подробно о том, какие виды услуг мы предлагаем, как осуществляется контроль качества и поставка оригинальных комплектующих, Вы можете прочитать на страницах, посвященных данным автомобилям.
            .pull-right
                img(src='/css/img/l4.png')
        a.btn(href='') Записаться на сто
        ul.brands
            - var i=0
            - for (i; i<7; i++)
                .brand
                    img.brand__img(src='/css/img/brand4_' + i + '.png')