.land.land-2.center-x.cf
    .content
        .col
            h3.title.center-x Сервисное обслуживание
            ul.list
                each service, index in ['Все виды диагностики','Шиномонтаж','Развал-сходжение','Заправка кондиционера','Химчистка салона','Установка доп.оборудования WEBASTO','Замена тормозных колодок и диков','Замена ремней ГРМ и роликов','Чистка топливной системы и форсунок']
                    li.service= service
        .col
            h3.title.center-x Ремонт автомобилей
            ul.list
                each service, index in ['Кап. ремонт двигателей','Ремонт мкпп и акпп','Ремонт подвески','Ремонт агрегатов','Ремонт электрики','Ремонт тормозной системы','Ремонт выхлопной системы','Система охлаждения','Кузовной ремонт']
                    li.service= service