.land.land-5.cf
    .content
        h3.title Отзывы Наших клиентов
        ul.feedbacks
            li.feedback
                .person
                    img.person__photo(src='')
                    .info
                        .name Роман Титов
                        .age 28 лет
                .text Менял лобовое стекло на Ситроене С5. Очень спешила с работы отдать вовремя машину на ремонт и не успела её помыть.<br>Каково же было мое изумление когда на следующий день мне вернули машину не только вымытую,но и всю вычищенную внутри. Машина рабочая и грязи было достаточно. Большое спасибо за такое внимание!
            li.feedback
                .person
                    img.person__photo(src='')
                    .info
                        .name Елена Сергеевна
                        .age 32 года
                .text Меняла лобовое стекло на Ситроене С5. Очень спешила с работы отдать вовремя машину на ремонт и не успела её помыть.<br>Каково же было мое изумление когда на следующий день мне вернули машину не только вымытую,но и всю вычищенную внутри. Машина рабочая и грязи было достаточно. Большое спасибо за такое внимание!