doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
html
    head
        meta(charset="UTF-8")
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        title FAVORIT
        meta(name="description" content="")
        //meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="icon",type="image/ico",href="/css/img/favicon.ico")
        link(rel="SHORTCUT ICON",type="image/x-icon",href="/css/img/favicon.ico")
        // build:css(_dev/_jade/_pages) css/vendor.css
        link(rel="stylesheet" href="../../_bower/normalize.css/normalize.css" type="text/css" media="screen")
        // bower:css
        // endbower
        // endbuild
        // build:css(_dev/_jade/_pages) css/style.css
        link(rel="stylesheet" href="../../_sass/style.css" type="text/css" media="screen")
        // endbuild

        // build:js(_dev/_jade/_pages) js/modernizr.js
        script(src='../../_bower/modernizr/modernizr.js')
        // endbuild
    body
        <!--[if lt IE 7]>
        p.chromeframe You are using an <strong>outdated</strong> browser. Please
            a(href="http://browsehappy.com/") upgrade your browser or
            a(href="http://www.google.com/chromeframe/?redirect=true") activate Google Chrome Frame to improve your experience.git
        <![endif]-->
        .header-wrapper
            include ../_common/_header
        .content-wrapper.center-x
            block content
        .footer-wrapper
            include ../_common/_footer

        script(src="http://api-maps.yandex.ru/2.0/?lang=ru_RU&load=package.standard" type="text/javascript")
        // build:js(_dev/_jade/_pages) js/vendor.js
        // bower:js
        // endbower
        // endbuild

        //build:js(_dev/_jade/_pages) js/script.js
        script(src='../../_js/slider.js')
        script(src='../../_js/app.js')
        script(src='../../_js/validator.js')
        script(src='../../_js/dropdown.js')
        script(src='../../_js/ie8.js')
        script(src='../../_js/yamap.js')
        // endbuild
