.page_perair.land-1
    include ../../_common/_buttons
    .bread-crumbs <span class='bread'>Главная /</span> <span class='crumbs'>Ремонт</span>
    h2.title Ремонт автомобилей
    ul.repair-list
        each element in []
            li <Добавить блок для видов ремонта>
    .promotion
        .title Информация о скидочных картах
        ul.cards
            - var i=0
            - for (i; i<3; i++)
                li.card
    a.btn.btn_grey(href='') Скачать реквизиты
    .map