@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-webfont.eot');
    src: url('opensans-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensans-webfont.woff') format('woff'),
    url('opensans-webfont.ttf') format('truetype'),
    url('opensans-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('opensansbold-webfont.eot');
    src: url('opensansbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensansbold-webfont.woff') format('woff'),
    url('opensansbold-webfont.ttf') format('truetype'),
    url('opensansbold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensansextrabold-webfont.eot');
    src: url('opensansextrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensansextrabold-webfont.woff') format('woff'),
    url('opensansextrabold-webfont.ttf') format('truetype'),
    url('opensansextrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('opensanslight-webfont.eot');
    src: url('opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensanslight-webfont.woff') format('woff'),
    url('opensanslight-webfont.ttf') format('truetype'),
    url('opensanslight-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensanssemibold-webfont.eot');
    src: url('opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('opensanssemibold-webfont.woff') format('woff'),
    url('opensanssemibold-webfont.ttf') format('truetype'),
    url('opensanssemibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('robotolight-webfont.eot');
    src: url('robotolight-webfont.eot?#iefix') format('embedded-opentype'),
    url('robotolight-webfont.woff') format('woff'),
    url('robotolight-webfont.ttf') format('truetype'),
    url('robotolight-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}