.footer.cf
    .footer-wrapper.cf
        a.logo_footer.pull-left(href='#')
            img.logo(src='css/img/logo-2.png')
        ul.menu-footer
            each menuItem in ['Главная','О компании','Корпоративным клиентам','Покупка запчастей','Запись на сто','Контакты']
                li.menu-footer__item= menuItem
        .contacts-footer
            a(href="tel:88121433345").phone 8 (812) 143-33-45
            .address Санкт-Петербург, ул. Щербакова 76Ф<br>Время работы: 9:00 - 20:00
        a.itloft-href.pull-left(href='http://itloft.ru') Сделано в <br><span class="itloft">IT Loft</span> &copy; 2015
    ul.baden-baden
      each bb in ['Автосервис','Покупка запчастей','Санкт Петеребург','Автосервис','Покупка запчастей','Санкт Петеребург']