.header.center-x.cf
    a.logo_header.pull-left
        img.logo(src='css/img/logo.png')
    .content.pull-right
        .menu.pull-left
            ul.menu-items
                - var activeMenu=1
                each menuItem,index in ['О компании','Корпоративным клиентам','Контакты']
                    li(class=index == activeMenu ? 'menu__item menu__item_active' : 'menu__item')= menuItem
        .contacts.contacts_header.pull-right
            a(href="tel:88121433345").phone 8 (812) 143-33-45
            a.callback(href="#") Перезвонить нам