extends ../_layouts/_layout
block content
    include ../_blocks/_main/_land-1
    include ../_blocks/_main/_land-2
    include ../_blocks/_main/_land-3
    include ../_blocks/_main/_land-4
    include ../_blocks/_main/_land-5
    include ../_blocks/_main/_land-6