@import "../_common/variables";

.footer {
  background-color: #303030;
  @include background-image(linear-gradient(77deg, #272727, #303030 54%, #272727));
  min-height: 333px;


  .contacts {
    width: 270px;
    text-align: left;
  }
}

.footer-wrapper {
  max-width: $max-width-content;
  min-width: $min-width-content;
  margin: auto;
}

.logo_footer {
  margin: 0 75px;
}

.wrapper1{
  margin: 50px 75px 0 0;
}

.wrapper2{
  margin: 50px 67px 0 0;
}

.copyright {
  font-family: open_sanssemibold, arial, sans-serif;
  color: $font-color-active;
  margin-bottom: 32px;
}

.contacts-address {
  margin-bottom: 28px;
}

.details {
  margin: 0 0 32px;
  padding: 0;
}

.detail {
  list-style: none;
}

.socials__text {
  margin-bottom: 22px;
}

.socials-icons {
  margin: 0;
  padding: 0;
}

.socials-icon {
  display: inline-block;
  list-style: none;
  margin-right: 24px;
  a {
    display: block;
    width: 45px;
    height: 45px;
    background: url(/css/img/sprite.png) no-repeat 0 -234px;
    span {
      display: none;
    }
  }
}

.socials-icon_1 {
  a {
    background-position: -45px -234px;
  }
}

.socials-icon_2 {
  a {
    background-position: -135px -234px;
  }
}

.socials-icon_3 {
  a {
    background-position: -90px -234px;
  }
}

.itloft-href {
  display: block;
  margin-top: 50px;
  text-decoration: none;
  width: 106px;
  color: $font-color;
}

.itloft {
  color: $font-color-active;
}