@import "../_common/variables";

.header-wrapper {
  min-width: $min-width-content;
  max-width: $max-width-content;
  margin: 0 auto;
  position: relative;
  background: transparent;
  z-index: 1;
}

.header {
  padding: 0 75px;
  position: relative;

  min-width: $min-width-content;
  max-width: $max-width-content;

  .content {
    padding-top: 53px;
  }
}

.logo_header {
  margin-right: 70px;
}

.cities {
  position: relative;
  margin-right: 40px;
}

.city-current {
  display: inline-block;
  color: $font-color;
  width: 198px;
  height: 44px;
  @include border-radius(22px);
  background-color: #0c0c0c;
  @include box-shadow(inset 0 -1px 1px rgba(255, 255, 255, .1));
  font-size: 16px;
  text-align: center;
  line-height: 44px;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.caret-icon {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url(/css/img/caret.png);
  vertical-align: middle;
  margin-left: 8px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.cities-list {
  display: none;
  margin: -22px 0 0;
  padding: 22px 10px 10px;
  color: $font-color;
  position: absolute;
  z-index: 1;
  background: #333;
  width: 198px;

  .cities_open & {
    display: block;
  }
}

.city {
  list-style: none;
  color: $font-color-text;
  cursor: pointer;

  &:hover {
    background:#0c0c0c;
    color: $font-color;
  }
}

.city_current {
  color: $font-color;
}

.address {
  font-family: open_sanslight, arial, sans-serif;
  font-size: 16px;
  color: $font-color-text;
  width: 325px;
  margin-right: 36px;
}

.contacts {
  text-align: center;
  position: relative;
}

.contacts_header {
  margin-top: -8px;
  text-align: right;
}

.phone {
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: $font-color;
}

.callback {
  font-size: 16px;
  color: $font-color-text;
}