@import "../_common/variables";
@import "../_common/mixin";

.land-7 {
  position: relative;
  min-height: 662px;

  .title {
    position: relative;
    color: #191919;
    z-index: 3;
    margin: 57px 0 52px;
  }

  .pagers {
    margin: auto;
    position: relative;
    z-index: 3;
    text-align: center;
  }

  .btn_order {
    left: 374px;
    top: 492px;
  }

  .price {
    color: #131313;
    left: 53px;
    top: 245px;
    .price-amount {
      color: #131313;
    }
  }
}

.pager_flat {
  display: inline-block;
  float: none;
  margin-right: 56px;
}

.slides-flat {
  position: absolute;
  top: 0;
}

.describe {
  display: block;
  padding: 44px 52px;
  width: 543px;
  height: 336px;
  background: #fff;
  background: rgba(255, 255, 255, .71);
  position: absolute;
  top: 247px;
  left: 111px;
  color: $font-color-dark;
}

.describe__title {
  margin: 0 0 24px;
  padding: 0;
  font-family: open_sanssemibold, arial, sans-serif;
  font-size: 48px;
  font-weight: normal;
}

.describe__text {
  font-family: open_sanslight, arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $font-color-dark-text;
}