@import "../_common/variables";
@import "../_common/mixin";

.land-9 {
  position: relative;
  min-height: 364px;
  background: #393939;

  .content {
    width: 330px;
    margin: 130px 0 0 213px;
  }

  .title {
    font-family: open_sansregular, arial, sans-serif;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    text-align: right;
  }

  .text {
    font-family: open_sansbold, arial, sans-serif;
    font-size: 48px;
    font-weight: normal;
    color: $font-color-active;
    text-align: right;
  }
}

.children {
  position: absolute;
  bottom: 0;
  right: 167px;
  width: 474px;
  height: 412px;
  background: url(/css/img/children.png);
}