@import "../_common/variables";
@import "../_common/mixin";

.land-8 {
  position: relative;
  min-height: 578px;
  background-color: #303030;
  @include background-image(linear-gradient(77deg, #272727, #303030 54%, #272727));

  .title {
    text-align: left;
    margin-bottom: 43px;
  }

  .content {
    width: 407px;
    position: relative;
    z-index: 3;
    margin: 0;
    left: 689px;
    top: 85px;
  }

  .price {
    position: static;
  }

  .text {
    margin-bottom: 35px;
  }
}

.safe {
  position: absolute;
  background: url(/css/img/safe.png);
  width: 541px;
  height: 420px;
  top: 115px;
}