@import "../_common/variables";
@import "../_common/mixin";

.land-6 {
  position: relative;
  background: #302f2f;
  background: url(/css/img/land-6.jpg);
  min-height: 733px;
  padding: 102px 0;

  .title {
    margin-bottom: 51px;
  }

  .btn_order {
    right: 70px;
    top: 513px;
  }
}

.pagers {
  margin-left: 418px;
  margin-bottom: 70px;
}

.slides-office {
  height: auto;
  margin-left: 676px;
  position: relative;
}

.slide-text {
  width: 535px;
  font-family: open_sanslight, arial, sans-serif;
  font-size: 16px;
  color: $font-color;
}