@import "../_common/variables";
@import "../_common/mixin";

.land-3 {
  position: relative;
  background: #272626;
  .title {
    position: relative;
    display: block;
    font-family: open_sansbold, arial, sans-serif;
    font-weight: normal;
    text-align: left;
    margin-bottom: 44px;
  }
  .logo-href {
    display: block;
    margin-left: 107px;
  }
  .content {
    padding: 104px 0 80px 242px;
  }
}

.bg-land-3 {
  position: absolute;
  top: 34px;
  right: 0;
  z-index: 3;
}

.achievements {
  margin: 0;
  padding: 0;
}

.achievement {
  display: block;
  float: left;
  clear: both;
  list-style: none;
  padding: 17px 22px;
  border: 1px dashed $font-color-text;
  margin-bottom: 24px;
  @include border-radius(3px);
}

.achievement__ico {
  display: inline-block;
  width: 31px;
  height: 28px;
  background: url(/css/img/sprite.png) no-repeat 0 -108px;
  vertical-align: middle;
  margin-right: 13px;
}

.achievement__ico_1 {
  background-position: -31px -108px;
}

.achievement__ico_2 {
  background-position: -62px -108px;
}

.achievement__ico_3 {
  background-position: -93px -108px;
}

.achievement__text {
  display: inline-block;
  font-size: 20px;
  font-family: open_sansbold, arial, sans-serif;
  font-weight: normal;
  color: $font-color-active;
  vertical-align: middle;
}