@import "../_common/variables";
@import "../_common/mixin";

.land-5 {
  position: relative;
  background: #302f2f;
  min-height: 1129px;
}

.brands {
  background: url(/css/img/brands.png) no-repeat;
  margin: auto;
  width: 991px;
  height: 269px;
  margin-top: 52px;
}

.feeedback-prompt {
  width: 390px;
  margin: 147px 0 0 189px;
}

.feeedback-prompt__text {
  font-family: open_sanssemibold, arial, sans-serif;
  font-size: 36px;
  margin-bottom: 50px;
}

.envelope {
  position: absolute;
  right: 134px;
  top: 399px;
}

.feedbacks {
  position: absolute;
  right: 217px;
  top: 507px;
  height: 484px;
}

.feedback-next {
  font-family: open_sanslight, arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: $font-color;
  display: block;
  position: absolute;
  text-decoration: underline;
  top: -98px;
  right: -49px;
}

.feedback {
  color: #141414;
  font-size: 18px;
  font-family: open_sanslight;
  font-weight: normal;
  width: 370px;
}

.btn_rfeedback {
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 100px;
  min-width: 188px;
  padding: 0;
  text-align: center;
}