@import "../_common/variables";
@import "../_common/mixin";

.land-4 {
  position: relative;
  background-color: #303030;
  @include background-image(linear-gradient(32deg, #303030, #393939 53%, #2d2d2d));
  padding: 88px 0 0;
  .title {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 56px;
  }
  .logo-href {
    display: block;
    margin-left: 107px;
  }
}

.steps-ico {
  margin: 0 0 38px;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    width: 130px;
  }

  &:after {
    margin-top: 23px;
    background: url(/css/img/circle-steps.png);
    height: 27px;
    width: 831px;
    display: inline-block;
    content: ' ';
  }
}

.step-ico {
  display: inline-block;
  width: 82px;
  height: 49px;
  background: url(/css/img/sprite.png) no-repeat 0 -136px;
}

.step-ico_1 {
  background-position: -82px -136px;
}

.step-ico_2 {
  background-position: -164px -136px;
}

.step-ico_3 {
  background-position: -246px -136px;
}

.step-ico_4 {
  background-position: 0px -185px;
}

.step-ico_5 {
  background-position: -82px -185px;
}

.step-ico_6 {
  background-position: -164px -185px;
}

.steps {
  margin: 0;
  padding: 0 137px;
  text-align: center;
}

.step {
  display: inline-block;
  list-style: none;
  width: 130px;
  padding: 0 7px;
  vertical-align: top;
}

.cat {
  margin: 0 auto 65px;
  font-family: open_sanssemibold, arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

.cat__img {
  display: inline-block;
  background: url(/css/img/cat.png);
  vertical-align: middle;
  width: 301px;
  height: 178px;
}

.cat__text {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}