@import "../_common/variables";
@import "../_common/mixin";

.land-1 {
  position: relative;
  min-height: 661px;
  background: url(/css/img/land-1.jpg) no-repeat;
  margin-top: -108px;
  padding-top: 106px;
  .title {
    width: 604px;
    margin-bottom: 33px;
    text-align: left;
    text-transform: uppercase;
    color: $font-color-active;
    font-family: open_sansbold, arial, sans-serif;
  }

  .text {
    font-family: open_sanslight, arial, sans-serif;
    font-size: 30px;
    line-height: 34px;
    //    width: 328px;
    text-transform: uppercase;
  }
}

.content-1 {
  margin: 111px 0 95px 530px;
  min-height: 494px;
}

.form-1 {
  position: absolute;
  top: 479px;
  left: 936px;
  width: 240px;
}

.promotion {
  width: 135px;
  color: #fff;
  font-size: 18px;
  font-family: robotolight, arial, sans-serif;
  position: absolute;
  top: 502px;
  left: 685px;
  text-align: center;
}

.abilities-wrapper {
  background: $bg-color-dark;
  background: rgba(26, 26, 27, .92);
  text-align: center;
}

.abilities {
  display: inline-block;
  padding: 37px 0;
  margin: 0;
}

.ability{
  display: inline-block;
  list-style: none;
  width: 174px;
  text-transform: uppercase;
  span {
    display: block;
  }
}

.ability__number {
  font-family: open_sansbold;
  color: #fff;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  span {
    display: inline-block;
    font-family: inherit;
    font-size: 18px;
  }
}

.ability__text {
  font-family: open_sansbold;
  color: $font-color-active;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.slide-switch {
  width: 28px;
  height: 68px;
  background: url(/css/img/slider-sprite.png) no-repeat;
  position: absolute;
  z-index: 3;
  left: 86px;
  top: 192px;
  cursor: pointer;
}

.slide_next {
  background-position: right;
  left: 1168px;
}