@import "../_common/variables";
@import "../_common/mixin";

.land-2 {
  position: relative;
  background: #313031;
  .title {
    position: relative;
    display: block;
    text-align: center;
    top: -10px;
    margin-bottom: 56px;
  }
}

.warranties {
  margin: 0 0 107px;
  padding: 0 127px;
}

.warranty {
  display: inline-block;
  list-style: none;
  width: 339px;
  vertical-align: top;
  text-align: center;
  padding: 0 29px;
}

.warranty__img {
  display: inline-block;
  width: 108px;
  height: 108px;
  background: url(/css/img/sprite.png) no-repeat;
  margin-bottom: 36px;
}

.warranty__img_1 {
  background-position: -108px top;
}

.warranty__img_2 {
  background-position: -216px top;
}

.warranty__text {
  font-size: 16px;
  font-family: open_sanslight, arial, sans-serif;
}
