@import "../_common/variables";
@import "../_common/mixin";

.land-10 {
  position: relative;
  min-height: 763px;
  background-color: #171717;
  @include background-image(linear-gradient(32deg, #171717, #232323 54%, #171717));

  .title {
    text-align: left;
  }

  .content {
    width: 525px;
    margin: -11px 0 0 633px;
  }

  .text {
    font-family: open_sanslight, arial, sans-serif;
    margin-bottom: 30px;
  }

  .text-2 {
    margin-bottom: 30px;
  }

  .text-2, .text-3 {
    font-family: open_sanssemibold, arial, sans-serif;
  }

  .price-amount {
    color: $font-color-active;
  }
}

.man {
  width: 697px;
  height: 763px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/css/img/man.png);
}