@import "compass/css3";
@import "fonts/fonts.css";
@import "_common/variables";
@import "_common/mixin";

body, html {
  height: 100%;
  outline: none;
}

a:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: open_sansregular, arial, sans-serif;
  color: $font-color;
}

.content-wrapper {
  min-width: $min-width-content;
  max-width: $max-width-content;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

.content {
  margin: auto;
}

.center-x {
  margin: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

img {
  display: block;
}

.title {
  font-size: 48px;
  line-height: 46px;
  font-family: open_sanssemibold, arial, sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0 0 22px;
  color: $font-color;
}

.header-space {
  height: 97px;
  width: 100%;
}

.form-input {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  width: 240px;
  margin-bottom: 10px;
  border: none;
  font-family: robotolight, arial, sans-serif;
  font-size: 16px;
  color: #838383;
  @include border-radius(3px);
}

.pager {
  display: block;
  text-decoration: none;
  padding: 14px 19px;
  text-transform: uppercase;
  color: $font-color;
  font-family: open_sanssemibold, arial, sans-serif;
  font-size: 18px;
  background: #2C2C2D;
  background: rgba(44, 44, 45, .8);
  float: left;
  margin-right: 25px;
  cursor: pointer;
  @include border-radius(3px);

  &:hover {
    background: #ffe417;
    color: #202020;
  }
}

.pager_active {
  background: #ffe417;
  color: #202020;
  position: relative;

  &:after {
    display: block;
    border-top: 7px solid #ffe417;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
    margin-left: -12px;
  }
}

.btn {
  @include btn(50px, 18px);
  margin: auto;
}

.btn_order {
  position: absolute;
}

.price {
  position: absolute;
  font-family: open_sanssemibold, arial, sans-serif;
  color: $font-color;
  font-size: 24px;
  top: 190px;
  left: 10px;

  .price-amount {
    font-family: open_sansbold, arial, sans-serif;
    font-size: 36px;
    color: $font-color-active;
  }
}

.logo-href {
  display: block;
  margin-left: 107px;
}