.page_about.land-1
    .bread-crumbs <span class='bread'>Главная /</span> <span class='crumbs'>О компании</span>
    h2.title Корпоративным клиентам
    .text
        | Наша компания работает с 1997 года. За 17 лет работы мы приобрели огромный опыт ремонта легковых автомобилей.Мы оснастили, станцию, наилучшим оборудованием известных брендов.В нашем распоряжении 3 d стенд развала схождения фирмы John Bean, шиномонтажный,компьютеризированный комплекс Beissbarth (германия),мойка для колес,подьемное оборудование Nussbaum (Германия). Автоматический комплекс заправки кондиционеров OK Clima (Spin  Италия ). Каждый специалист нашей компании пользуется профессиональным  инструментом Licota.
        | <br>С 2010 года наша компания занимается эксклюзивным производством установочных комплектов для установки автомобильных лебедок на внедорожники.Наше направление по производству называется AutoWinch.Мы с гордостью можем сказать что,на сегодняшний день,мы единственные на территории России,кто занимается производством установочных комплектов для установки лебедки и передних фаркопов в промышленных маштабах.
    a.btn.btn_grey(href='') Скачать презентацию
    ul.brands
        - var i=0
        - for (i; i<16; i++)
            .brand
                img.brand__img(src='/css/img/brand4_' + i + '.png')
    .about-img