@mixin btn($height, $font-size, $background-color: #f5b90d, $color: #161616) {
  background-color: $background-color;
  @include border-radius(2px);
  color: $color;
  display: inline-block;
  font-size: $font-size;
  font-weight: normal;
  font-family: open_sansextrabold, arial, sans-serif;
  height: $height;
  line-height: $height + 3;
  padding: 0 29px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  border: none;
  cursor: pointer;
  text-decoration: none;

  @include box-shadow(inset 0 -1px 1px #967730);
  @include background-image(linear-gradient(bottom, #efac13, #fac805));
}