/* This is how you would create a theme called "my-custom-theme": */

.my-custom-theme {
  border-radius: 5px;
  border: 1px solid #0C0C0C;
  background: #333333;
  color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.my-custom-theme .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}