$font-color-active: #fac907;
$font-color: #fff;
$font-color-text: #848484;
$font-color-dark: #262626;
$font-color-dark-text: #141414;

$border-color: #c2c3c3;

$bg-color-dark: #1f1f1e;

$max-width-content: 1280px;
$min-width-content: 1280px;