.page_contacts.land-1
    include ../../_common/_buttons
    .bread-crumbs <span class='bread'>Главная /</span> <span class='crumbs'>Контакты</span>
    h2.title Контакты
    ul.contacts
        each contact in [['Адрес CТО:','Дальневосточный пр. 36А'],['Контактное лицо:','Моисеев Кирилл Вячеславович'],['Телефон:','8 (999) 210-27-37'],['E-mail:','moook.email@gmail.com'],['Факс:','8 (999) 210-27-37']]
            li.contact
                .contact__caption= contact[0]
                .contact__text=contact[1]
    a.btn.btn_grey(href='') Скачать реквизиты
    .map