.page_about.land-1

    .modal
        form.form-modal
            .title Заказ запчастей
            .inputs
                .pull-left
                    .caption Выбор авто
                    .form-elements
                        select.form-select.form-element(name='car_brand[]')
                            each option in ['Марка','Марка 1','Марка 2','Марка 3']
                                option= option
                        select.form-select.form-element(name='car_model[]')
                            each option in ['Модель','Модель 1','Модель 2','Модель 3']
                                option= option
                        input.form-input.form-element(type='text' name='vin' placeholder='VIN' value='')
                .pull-right
                    .form-elements
                        input.form-input.form-element(type='text' name='person_name' placeholder='Ваше Имя' value='')
                        input.form-input.form-element(type='text' name='person_email' placeholder='E-mail' value='')
                        input.form-input.form-element(type='text' name='person_phone' placeholder='8 (___) ___-__-__' value='')
            .order-parts
                .parts
                    .caption Список необходимых запчастей
                    ul.list
                        each element,index in [['Комплект задних сайлентблоков','1'],['Рулевая тяга','2'],['Рулевая рейка','1']]
                            li.list-element
                                .part-num= index+1
                                .part-name= element[0]
                                .part-count= element[1]
                    .parts__add
                        input.form-input.pull-left(type='text' id='part_name' placeholder='Навзвание детали' value='')
                        input.form-input.pull-left(type='text' id='part_count' placeholder='Количество' value='')
                        a.btn.btn-add.pull-left(href='') + Добавить строчку
            .service
                .caption Комментарий для мастера
                textarea(name='comment' placeholder='Опишите очень подробно проблему автомобиля. Укажите какие работы необходимо сделать. Точную стоимость мы сможем назвать только после проверки и диагностики авто')
            .submit
                input.btn.pull-left(type='submit' value='Отправить запрос')
                .checkbox
                    .form-checkbox
                        input(type='checkbox' id='callback')
                        label(for="callback") Перезвонить Вам
                    .form-checkbox
                        input.form-checkbox(type='checkbox' id='send_email')
                        label(for="send_email") Ответить на email
    .bread-crumbs <span class='bread'>Главная /</span> <span class='crumbs'>О компании</span>
    h2.title О компании
    .text
        | Наша компания работает с 1997 года. За 17 лет работы мы приобрели огромный опыт ремонта легковых автомобилей.Мы оснастили, станцию, наилучшим оборудованием известных брендов.В нашем распоряжении 3 d стенд развала схождения фирмы John Bean, шиномонтажный,компьютеризированный комплекс Beissbarth (германия),мойка для колес,подьемное оборудование Nussbaum (Германия). Автоматический комплекс заправки кондиционеров OK Clima (Spin  Италия ). Каждый специалист нашей компании пользуется профессиональным  инструментом Licota.
        | <br>С 2010 года наша компания занимается эксклюзивным производством установочных комплектов для установки автомобильных лебедок на внедорожники.Наше направление по производству называется AutoWinch.Мы с гордостью можем сказать что,на сегодняшний день,мы единственные на территории России,кто занимается производством установочных комплектов для установки лебедки и передних фаркопов в промышленных маштабах.
    a.btn.btn_grey(href='') Скачать презентацию
    .gallery
        .gallery__prev
        .gallery__next
        ul.gallery
            - var i=0
            - for (i; i<10; i++)
                img.gallery__item(src='')